<app-header></app-header>

<main>
  <ul id="users">
    <!--Listing Without using property binding , type or interace keyword ,no dynamic rendering
    <li> 
      <app-user [id]="users[0].id" [avatar]="users[0].avatar" [name]="users[0].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[1].id" [avatar]="users[1].avatar" [name]="users[1].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[2].id" [avatar]="users[2].avatar" [name]="users[2].name" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [id]="users[3].id" [avatar]="users[3].avatar" [name]="users[3].name" (select)="onSelectUser($event)"/>
    </li> -->

    <!-- Using property binding and type or interface keyword ,no dynamic rendering-->
    <!-- <li>
      <app-user [user]="users[0]" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [user]="users[1]" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [user]="users[2]" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [user]="users[3]" (select)="onSelectUser($event)"/>
    </li>
    <li>
      <app-user [user]="users[4]" (select)="onSelectUser($event)"/>
    </li> -->

    <!-- Using Dynamic Rendering of List Data -->
    <!--'track' used for Unique element in each user to keep track of unique user-->
    
    @for (user of users;track user.id){
    <li>
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    }
    

    <!-- Legacy method for 'for loop' and if condition -->
    <!-- <li *ngFor="let user of users">
      <app-user [user]="user" (select)="onSelectUser($event)" />
    </li>
    <app-task
      *ngIf="selectedUserNameApp; else fallback"
      selectedUserName="{{ selectedUserNameApp }}"
    />
    <ng-template #fallback>
      <p id="fallback">Select a user to see their tasks!</p>
    </ng-template>
     -->
  </ul>
  <div>
    @if(selectedUserNameApp){ Tasks of the User :
    <app-task selectedUserName="{{ selectedUserNameApp }}" />
    }@else {
    <p id="fallback">Select a user to see their tasks!</p>
    }
  </div>
</main>
